.abc {
    height: 800px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.cde {
    padding-left: 160px;
    padding-top: 50px;

}

#img {
    padding-left: 20px;
    height: 450px;
}

#bt {
    padding-block: 10px;
    padding-inline: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color:  rgb(165, 112, 42);
    margin-left: 10px;
    margin-top: 50px;
}